/* client/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: sans-serif;
  line-height: 1.5; /*ยืดให้บรรทัดที่ใส่ตัวอักษรมันสูงขึ้น เพื่อให้ช่องว่างระหว่างบรรทัดกว้างขึ้น*/
  margin: 0 auto;


  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none; /*ห้ามเบราเซอร์สร้างฟอนต์สังเคราะห์ขึ้นมาเอง ถ้าฟ้อนนั้นๆไม่มีตัวเอียง,ตัวหนา*/
   /* text-rendering: optimizeLegibility;  เพื่อเพิ่มความสามารถในการอ่านของเบราเซอร์ เพื่อเพิ่มเวลาในการ render มากขึ้น */
  -webkit-font-smoothing: antialiased; /*เป็นการไล่ระดับสีเทาและทำให้ขอบฟ้อนเรียบ สำหรับใช้บน Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /*เหมือน -webkit-font-smoothing ด้านบน แต่ใช้บน Firefox*/
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit; /*ตั้งเป็น inherit เพราะจะได้ใช้ element ลูกสืบทอดของจาก element แม่ ถ้า text-decoration ของแม่เป็น underline ลูกก็จะเป็นตาม แต่ถ้าไม่อยากก็ใส่ค่าเป็น none แทน*/
}

a:hover {
  color: #535bf2; /*สีตอน hover sidebar*/
}

body {
  /* display: flex;
  place-items: center; */
  min-width: 320px; /*เป็นการบอกว่าถ้าหน้าจอเล็กกว่า 320px เบราว์เซอร์จะแสดง แถบเลื่อนแนวนอน เพื่อให้ผู้ใช้ยังมองเห็นได้อยู่ มากกว่าจะบีบอัดข้อความทั้งหมดโดยจัดวาง layout แบบเดิมเหมือนใน desktop*/
  min-height: 100vh; /*100vh=100% หมายความว่า มันบังคับให้ Body สูงเต็มจอ*/
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  transition: transform 0.1s ease;
}


button:active {
  /* ทำให้ปุ่มหดตัวลง 5% */
  transform: scale(0.95); 
}



